/* 全局样式文件 */

* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}
/* 媒体查询适配 */

@media screen and (max-width: 1367px) {
  html {
    font-size: 10px;
  }
}

@media screen and (min-width: 1368px) {
  html {
    font-size: 10px;
  }
}

@media screen and (min-width: 1366px) {
  html {
    font-size: 10px;
  }
}

@media screen and (max-width: 1367px) {
  html {
    font-size: 10px;
  }
}

@media screen and (min-width: 1368px) {
  html {
    font-size: 10px;
  }
}

@media screen and (min-width: 1536px) {
  html {
    font-size: 12px;
  }
}

@media screen and (min-width: 1920px) {
  html {
    font-size: 14px;
  }
}

.ivu-menu-submenu-title:hover {
  color: #2bfaff;
}
.select_input > .ivu-select {
  color: #f2f2f2;
}
.select_input > .ivu-select-small > .ivu-select-selection {
  border: 1px solid #2bfaff;
  background-color: rgba(0, 0, 0, 0);
}
/* .select_input > .ivu-select-small > .ivu-select-dropdown {
  background-color: #0c3863;
} */
/* .ivu-select-dropdown:hover {
                        background-color: #0c3863;
                    } */

/* .ivu-menu-horizontal .ivu-menu-submenu .ivu-select-dropdown .ivu-menu-item {
  color: rgba(255, 255, 255, 0.7);
} */
.ivu-menu-dark.ivu-menu-horizontal .ivu-menu-item:hover {
  color: #2bfaff;
}
/* .ivu-menu-horizontal
  .ivu-menu-submenu
  .ivu-select-dropdown
  .ivu-menu-item:hover {
  color: #2bfaff;
} */
hr {
  border: 0;
  height: 1px;
  margin: 1rem 0;
  background-color: #e8eaec;
}
.ivu-tabs-nav > .ivu-tabs-tab:hover {
  color: black;
  font-family: "思源黑体medium";
}
.ivu-tabs-nav > .ivu-tabs-tab {
  color: grey;
  font-family: "思源黑体medium";
}
.ivu-tabs-nav > .ivu-tabs-tab-active {
  color: black;
  font-family: "思源黑体medium";
}
/* .ivu-divider-horizontal {
                        margin: 0;
                    }
                    .ivu-divider, .ivu-divider-vertical {
                        position: none;
                    } */
