                    /* 全局样式文件 */
                    
                    * {
                        padding: 0;
                        margin: 0;
                    }
                    
                    html,
                    body {
                        height: 100%;
                    }
                    /* 媒体查询适配 */
                    
                    @media screen and (max-width: 1367px) {
                        html {
                            font-size: 10px
                        }
                    }
                    
                    @media screen and (min-width: 1368px) {
                        html {
                            font-size: 10px
                        }
                    }
                    
                    @media screen and (min-width: 1366px) {
                        html {
                            font-size: 10px
                        }
                    }
                    
                    @media screen and (max-width: 1367px) {
                        html {
                            font-size: 10px
                        }
                    }
                    
                    @media screen and (min-width: 1368px) {
                        html {
                            font-size: 10px
                        }
                    }
                    
                    @media screen and (min-width: 1536px) {
                        html {
                            font-size: 12px;
                        }
                    }
                    
                    @media screen and (min-width: 1920px) {
                        html {
                            font-size: 14px;
                        }
                    }
                    
                    .ivu-menu-submenu-title:hover {
                        color: #2bfaff;
                    }
                    
                    .ivu-select-selection {
                        border: 1px solid #2bfaff;
                        background-color: rgba(0, 0, 0, 0);
                    }
                    
                    .ivu-select-dropdown {
                        background-color: #0c3863;
                        /* color: rgba(255, 255, 255, .7); */
                        /* color: white; */
                    }
                    /* .ivu-select-dropdown:hover {
                        background-color: #0c3863;
                    } */
                    
                    .ivu-menu-horizontal .ivu-menu-submenu .ivu-select-dropdown .ivu-menu-item {
                        color: rgba(255, 255, 255, .7);
                    }
                    
                    .ivu-menu-horizontal .ivu-menu-submenu .ivu-select-dropdown .ivu-menu-item:hover {
                        color: #2bfaff;
                    }
                    hr {
                        border: 0;
                        height: 1px;
                        margin: 1rem 0;
                        background-color: #e8eaec;
                    }
                    /* .ivu-divider-horizontal {
                        margin: 0;
                    }
                    .ivu-divider, .ivu-divider-vertical {
                        position: none;
                    } */